html,
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto";
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1, h2, h3{
  margin-bottom: 4px;
  width: fit-content;
}