.wrapper {
    color: var(--fabric-color-secondary);
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.contentRow {
    background: var(--fabric-background-primary);
    border: var(--fabric-border-primary) 1px solid;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    gap: 4px;
    padding: 16px 32px;
}

.image {
    background: var(--fabric-border-primary);
    border-radius: 5px;
    max-height: 100%;
    max-width: 85px;
    overflow: hidden;
}

.content {
    display: grid;
    gap: 8px;
    width: 100%;
    overflow: hidden;
}

.section {
    display: grid;
    height: fit-content;
    justify-content: flex-end;
    justify-items: flex-end;
}

.header {
    background: var(--fabric-background-primary);

    display: grid;

    align-items: center;
    justify-content: center;
    justify-items: center;


    gap: 4px;

    padding: 4px 4px 16px;
    min-height: 20vh;
    height: 20vh;
    overflow: hidden;

    position: relative;
}

.cell {
    height: 150px;
    min-width: 50%;

    width: fit-content;
    overflow: hidden;
    display: grid;
    justify-items: center;
    align-content: center;

    color: var(--fabric-color-tertiary);
    text-align: center;
    font-weight: 525;
    font-size: .85rem;

    max-height: 15vh;
    max-width: 20vw;
}

.header1 {
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0;
}

.header2 {
    font-size: .85rem;
    font-weight: 500;
    margin: 0;


}

.tab {

    padding: 16px;

    display: grid;
}

.options{
    display: flex;
    align-items: center;

    gap: 4px;
    position: absolute;

    left: 4px;
    /*transform: translate(-50%, -50%);*/
    top: 4px;
}

.button{

    min-width: 35px;
    height: 35px;
    padding: 2px !important;

    display: flex;
    align-items: center;
    justify-content: center;
}